:root {
    --toastify-color-warning: #ebebeb;
  }
  





.Toastify__toast {
 background-color: #1d9bf0; 
 font-family: 'Kumbh Sans';
 box-shadow: initial;
 color: #fff;
 font-weight: 600;
 
}




  
// .Toastify__toast--warning {
//     background-color: #fff; // 
//   }
  